@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  font-family: "PT Sans", sans-serif;
  background-color: rgb(218, 228, 229);
}

header,
footer {
  background-color: #b6bbbd;
  color: white;
  margin: 1rem;
  padding: 1rem 2rem;
}

main {
  background-color: rgb(218, 228, 229);
  color: #b6bbbd;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem 2rem;
  height: 350px;
  padding: 3rem 2rem;
  justify-content: center;
}

.button {
  background-color: #b6bbbd;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
}

footer {
  text-align: center;
}
